@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .section1__about_content p{
        font-size: 14px;
        line-height: 20px;
    }

}

@media(max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .section1__about_content p{
        font-size: 11px;
        line-height: 17px;
    }
}

@media(max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .section1__about_bg span{
        font-size: 30px;
    }

    .section1__about_content p{
        font-size: 8px;
        line-height: 11px;
    }
}